<mat-sidenav-container>
    <mat-sidenav id="sidenav" #sidenave mode="side">
        <p>test hello my name is jack and i stole robs desk</p>
        <p>test</p>
        <!-- <canvas id="sideNavCanvas" #sideNavCanvas></canvas> -->
    </mat-sidenav>
    <mat-sidenav-content id= "sideNavContent" role="region">
        <div class="gridDescriptions">
            <button id="navButton" (click)="sidenave.toggle()" (click)="buttonAppToggle()">></button>
            <input class="gridScaleInput" id="gridScaleInput" type="number" value={{gridScaleDefault}} step="10" max={{gridScaleMax}} min={{gridScaleMin}}>
            <p>min: {{gridScaleMin}}</p>
            <p>max: {{gridScaleMax}}</p>
            <p id="zoomPercentage">empty</p>
        </div>
        <canvas id="myCanvas" #myCanvas class="mapCanvas"></canvas>
    </mat-sidenav-content>
</mat-sidenav-container>